* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    /* height: 100vh; */
}

.logo {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 310px;
    gap: 30px;
    /* height: 100%;
    overflow-y: scroll; */
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.btn-advanced-filters {
    display: flex;
    align-items: center;
    column-gap: 40px;
    padding-left: 20px;
    width: 300px;
    height: 50px;
    border-radius: 3px;
    background-color: #e3f2fd;
    color: #39a1f4;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.filter,
#search {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    border: none;
}

.advanced-filters {
    display: none;
}

.activated {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background-color: white;
    width: 300px;
    border-radius: 5px;
}

.name {
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
}

.image {
    border-top: #000000 3px solid;
    border-bottom: #000000 3px solid;
}

.infos {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin: 10px 20px;
    font-size: 18px;
}

.btn {
    display: flex;
    justify-content: center;
}

.load-more {
    cursor: pointer;
    margin: 20px 0;
    width: 200px;
    height: 40px;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background: transparent;
}

.load-more:hover {
    color: black;
    background: white;
}

/* footer {
    width: 100%;
    height: 20px;
    background-color: red;
    position: absolute;
    bottom: 0;
} */

/* ::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #f7d4b8;
    border-radius: 5px;
} */

@media (min-width: 768px) {
    .container {
        width: 615px;
    }

    .filters {
        flex-direction: row;
        align-items: start;
    }

    .filter {
        width: 100px;
    }

    .btn-advanced-filters {
        display: none;
    }

    .advanced-filters {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 15px;
    }

    .activated {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 930px;
    }

    .filter {
        width: 130px;
    }

    #search {
        width: 350px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1245px;
    }
}

@media (min-width: 2000px) {
    .container {
        width: 1560px;
    }
}